<div class="preloader container--no-padding">
  <a class="preloader__loader" href="#" target="_blank">
    <div class="preloader__liga">
      @@include("source/img/svg/liga.svg")
    </div>
    <div class="preloader__letter">
      @@include("source/img/svg/letter.svg")
    </div>
    <div class="preloader__frontend">
      @@include("source/img/svg/frontend.svg")
    </div>
  </a>
  <button class="preloader__btn preloader__btn--desktop btn" type="button">Нажмите на Enter</button>
  <button class="preloader__btn preloader__btn--tablet btn" type="button">Кликните на экран</button>
</div>
