@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xl {
  @media (max-width: $viewport--xxl - 1) {
    @content;
  }
}

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

@mixin keyframes-fadeOut {
  @keyframes fadeOut {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin keyframes-fadeIn {
  @keyframes fadeIn {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

@mixin keyframes-shake {
  @keyframes shake {
    0% {
      transform: translateY(-50vh);
      opacity: 0.8;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateY(-1px);
    }

    20%,
    40%,
    60%,
    85% {
      transform: translateY(1px);
    }
  }
}

@mixin keyframes-disappear {
  @keyframes disappear {
    0% {
      transform: translateY(0);
      opacity: 0;
    }

    100% {
      opacity: 0;
      transform: translateY(-100vh);
    }
  }
}

@mixin keyframes-slide {
  @keyframes slide {
    0% {
      left: -100vw;
    }

    100% {
      left: 0;
    }
  }
}

@mixin keyframes-slideBack {
  @keyframes slideBack {
    0% {
      left: 0;
    }

    100% {
      left: -100vw;
    }
  }
}
